<h1>All computers</h1>
<hr />

<% if @computers.size <= 0 %>
	<div class="alert alert-info">
		You don't have any registered computers at the moment! Start creating <%= link_to "here", new_computer_path %>.
	</div>
<% else %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Ip address</th>
			<th>Mac address</th>
			<th>Power status</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="6">
			<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
			</td>
		</tr>
	</tfoot>
	<tbody>
		<% @computers.each do |computer| %>
		<tr>
			<td><%= link_to computer.name, computer %></td>
			<td><%= computer.ip_address %></td>
			<td><%= computer.mac_address %></td>
			<td> 
				<% if computer.power_status == "on" %>
					<%= link_to raw('<span class="label label-success">On</span>'), power_off_computer_path(computer), title: "Power off this computer!", data: {toggle: "tooltip", placement: "top", animation: "true"} %>
				<% else %>
					<%= link_to raw('<span class="label label-danger">Off</span>'), power_on_computer_path(computer), title: "Power on this computer!", data: {toggle: "tooltip", placement: "top", animation: "true"} %>
				<% end %> 
			</td>
			<td><%= link_to icon('edit'), edit_computer_path(computer), class: "btn btn-primary", title: "Edit", data: {toggle: "tooltip", placement: "top", animation: "true"} %></td>
			<td><%= link_to icon('trash-o'), computer, method: :delete, class: "btn btn-danger", title: "Delete", data: { confirm: 'Are you sure?', toggle: "tooltip", placement: "top", animation: "true"} %></td>
		</tr>
		<% end %>
	</tbody>	
</table>

<br />
<%= link_to 'Refresh power statuses', update_all_power_status_computers_path , class: "btn btn-primary", title: "Be carefull, may take several seconds", data: {toggle: "tooltip", placement: "top", animation: "true"} %>

<% end %>

<%= link_to 'New Computer', new_computer_path, class: "btn btn-primary" %>

