<p>
  <strong>Ip address:</strong>
  <%= @computer.ip_address %>
</p>

<p>
  <strong>Mac address:</strong>
  <%= @computer.mac_address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>  
  <%= @computer.power_off %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
