<h1><%= @computer.name %></h1>
<hr />
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Details</h3>
			</div>
			<div class="panel-body">
			<%= bootstrap_form_for(@computer) do |f| %>
			<%= f.static_control :mac_address %>
			<%= f.static_control :ip_address %>
			<%= f.static_control nil, label: "Netmask" do %>
				<%= @computer.netmask %> (/<%= @computer.netmask_cidr %>)
			<% end %>
			<%= f.static_control :username %>
			<%= f.static_control nil, label: "Power status" do %>
				<% if @computer.power_status == "on" %>
				<span class="label label-success">On</span>
				<% else %>
				<span class="label label-danger">Off</span>
				<% end %>
			<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Power control</h3>
			</div>
			<div class="panel-body">
			<%= link_to icon('refresh'), update_power_status_computer_path(@computer), class: "btn btn-primary", title: "Refresh power status", data: {toggle: "tooltip", placement: "top", animation: "true"} %>
			<%= link_to icon('power-off'), power_on_computer_path(@computer), class: "btn btn-success", title: "Force power on", data: {toggle: "tooltip", placement: "top", animation: "true"} %>
			<%= link_to icon('power-off'), power_off_computer_path(@computer), class: "btn btn-danger", title: "Force power off", data: {toggle: "tooltip", placement: "top", animation: "true"} %>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Management</h3>
			</div>
			<div class="panel-body">
			<%= link_to icon('edit'), edit_computer_path(@computer), class: "btn btn-primary", title: "Edit", data: {toggle: "tooltip", placement: "top", animation: "true"} %>
			<%= link_to icon('trash-o'), @computer, method: :delete, class: "btn btn-danger", title: "Delete", data: { confirm: 'Are you sure?', toggle: "tooltip", placement: "top", animation: "true"} %>
			</div>
		</div>
	</div>
</div>

