<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>NetPowerManagement</title>

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">NPM <%= icon('power-off') %></a>
				</div>
				<div class="collapse navbar-collapse">
					<% if user_signed_in? %>
					<ul class="nav navbar-nav">
						<li class="dropdown <%= 'active' if params[:controller] == 'computers' %>">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Computers <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="<%= 'active' if params[:controller] == 'computers' && params[:action] == 'index' %>">
									<%= link_to icon("list","Show all"), computers_path %>
								</li>
								<li>
									<%= link_to icon("refresh", "Refresh power statuses"), new_computer_path %>
								</li>
								<li class="<%= 'active' if params[:controller] == 'computers' && params[:action] == 'new' %>">
									<%= link_to icon("plus", "New computer"), new_computer_path %>
								</li>
							</ul>
						</li>
					</ul>
					<% end %>
					<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<% if current_user.email? then %>
						<li>
						<%= link_to("Connected as " + current_user.email, edit_user_registration_path) %>
						</li>						
						<li>
						<%= link_to(icon('sign-out', 'Sign out'), destroy_user_session_path(), method: :delete) %>
						</li>
						<% end %>
					<% else %>
						<li>
						<%= link_to("Sign in", new_user_session_path) %>
						</li>						
						<li>
							<p class="navbar-text">|</p>
						</li>
						<li>
						<%= link_to("Sign up", new_user_registration_path) %>
						</li>
					<% end %>
					
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<% if notice %>
				<div class="alert alert-info">
					<%= notice %>
				</div>				
				<% end %>
				</div>
			</div>			
			<div class="row">
				<div class="col-md-12">
				<% if alert %>
				<div class="alert alert-warning">
					<%= alert %>
				</div>				
				<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<%= yield %>
				</div>
			</div>
			
			<hr />
			<footer>
				<p>
					&copy; <%= link_to "HE-Arc Engineering", "http://ingenierie.he-arc.ch"%> 2014 by Damiano Renfer
				</p>
			</footer>
		</div><!-- /.container -->
		<script type="text/javascript">
			$('[data-toggle="tooltip"]').tooltip();
		</script>
	</body>
</html>
